@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.demo-1 {
	--color-text: #fff;
	--color-bg: #2c5814;
	--color-link: #fff;
	--color-link-hover: #ac1122;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #ac1122;
}

.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 8vw;
	font-weight: normal;
	color:#fff;
	text-align: center;
	margin: 0;
	pointer-events: none;
	font-family: "SBAggroB";
}

.content__subtitle {
	font-family: "SBAggroB";
	font-size: 1em;
	background: #ac1122;
	color: #fff;
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}