@import "./common.scss";

.mypageBox {
    width: 800px;
    margin: auto;
    padding-top: 10vh;
    color : #555555;
    h1 {
        color: $green;
        text-align: center;
        text-decoration: underline;
    }

    h3 {
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-family: 'Noto Sans JP';
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
    }
    
    table {
        border-spacing: 0.15rem;
        font-family: 'Noto Sans JP';
        width: 800px;
        margin: 0 auto 0 auto;

        thead {
            td {
                padding: 10px;
                text-align: center;
            }
            background: $lime9;
            color: #ffffff;
        }

        tbody {
            text-align: center;
            tr {
                background: #ffffff;
                color: #555555;
                td {
                    padding: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mypageBox {
        width: 100%;
        margin: auto;
        table {
            border-spacing: 0.15rem;
            font-family: 'Noto Sans JP';
            width: 100%;
            margin: 0 auto 0 auto;
        }
    }
}